* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: block;
  position: absolute;
  min-width: 700px;
  max-width: 800px;
  left: 40%;
  transform: translateX(-50%);
  /* background-color: rgb(226, 224, 224); */
  border-radius: 10px;
  /* border: 2px solid red; */
  padding: 3rem;
}

.meme {
  display: block;
  position: relative;
  /* border: 2px solid #333; */
  margin-bottom: 3rem;
  background-color: rgba(218, 218, 218, 0.637);
  padding: 2rem;
  /* overflow: hidden; */
}

.meme-image {
  width: auto;
  height: 25rem;
}

.caption {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.get-btn {
  padding: 0.5rem 1.4rem;
  background-color: orangered;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.btn-more {
  padding: 0.8rem 1.7rem;
  background-color: orangered;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  margin: 2rem 2rem 0 0;
  position: fixed;
  top: 1rem;
  right: 5.4rem;
  cursor: pointer;
}

.side-section {
  position: fixed;
  top: 6rem;
  right: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  display: block;
  font-size: 1.3rem;
}
input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 25px;
  width: 150px;
  border: 0.5px solid grey;
}
.heading {
  margin-top: 1.3rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.index {
  margin-top: 1.1rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 673px) {
  .container {
    width: 100vh;
    display: block;
    position: absolute;
    min-width: 250px;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
  }
  .heading {
    display: none;
  }
  .side-section {
    display: none;
    flex-direction: row;
    top: -2rem;
    background-color: #fff;
  }

  label {
    display: none;
  }
  .get-btn {
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    position: fixed;
    top: 0;
    right: 2rem;
  }

  #subreddits {
    position: fixed;
    top: 0;
    left: 2rem;
  }
  .index {
    display: none;
  }

  .meme {
    overflow: hidden;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }
  .meme-image {
    width: auto;
    height: 15rem;
  }
  .btn-more {
    font-size: 1rem;
    top: 27rem;
    position: fixed;
    cursor: pointer;
  }
}
